In [43]:
#import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

#import api key
from config import g_key

#import csv
weather_data = '../WeatherPy/Output_Data/cities.csv'

#Create DataFrame 
weather_df = pd.read_csv(weather_data)
weather_df.head()

,City,Country,Latitude,Longitude,Max Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,Saint Paul Harbor,US,57.79,-152.41,41.00,56,90,6.93
1,Mahébourg,MU,-20.41,57.70,75.99,65,70,5.01
2,Mar del Plata,AR,-38.00,-57.56,51.01,81,0,4.70
3,Gomel,BY,52.43,30.98,39.20,100,3,6.71
4,Hermanus,ZA,-34.42,19.23,60.01,79,100,1.01

In [44]:
#Configure gmaps
gmaps.configure(api_key=g_key)

#set locations and humidity
locations = weather_df[['Latitude', 'Longitude']]

humidity = weather_df['Humidity (%)']

In [46]:
#Plot heatmap

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=2)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
#Create new DataFrame fitting weather criteria
#A max temperature lower than 80 degrees but higher than 70.
perfect_temp_df = weather_df[weather_df['Max Temperature (F)'] < 80]
perfect_temp_df =perfect_temp_df[perfect_temp_df['Max Temperature (F)'] > 70]

#Wind speed less than 10 mph.
perfect_wind_df = perfect_temp_df[perfect_temp_df['Wind Speed (mph)'] < 10]

#Zero cloudiness.
ideal_weather_df = perfect_wind_df[perfect_wind_df['Cloudiness (%)'] == 0]
ideal_weather_df
#Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

,City,Country,Latitude,Longitude,Max Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
44,Santa Isabel,BR,-23.32,-46.22,71.60,64,0,2.24
49,Ségou,ML,13.43,-6.22,73.54,20,0,4.38
64,Busselton,AU,-33.65,115.33,75.99,32,0,8.32
98,Anta,IN,25.15,76.30,74.05,28,0,3.02
172,Sīkar,IN,27.62,75.15,75.27,19,0,6.31
185,Juquitiba,BR,-23.93,-47.07,73.99,64,0,2.24
189,Aswān,EG,24.09,32.91,76.28,24,0,8.72
196,Ambilobe,MG,-13.20,49.05,73.62,74,0,4.45
214,Jati,PK,24.35,68.27,76.55,63,0,4.14
218,Tanout,NE,14.97,8.89,76.32,18,0,9.84
299,Fomboni,KM,-12.28,43.74,79.54,75,0,9.60
310,Maceió,BR,-9.67,-35.74,71.60,94,0,4.70
330,Karwar,IN,14.80,74.13,78.82,63,0,5.68
332,Monte Alegre de Minas,BR,-18.87,-48.88,73.40,56,0,5.82
370,Bandarbeyla,SO,9.49,50.81,77.65,82,0,2.66
442,Paraopeba,BR,-19.28,-44.40,73.40,73,0,2.24
510,Bāglung,NP,28.27,83.59,70.25,29,0,1.16
513,Parvatsar,IN,26.88,74.77,74.12,20,0,5.59
516,Arlit,NE,18.74,7.39,75.36,18,0,6.29
548,Port Said,EG,31.26,32.28,73.40,88,0,5.82
551,Mangaratiba,BR,-22.96,-44.04,73.40,88,0,4.70
556,Ashta,IN,23.02,76.72,73.94,39,0,0.83
561,Pilar,BR,-9.60,-35.96,71.60,94,0,2.24

In [49]:
#Hotel Mapping
#Create new DF with City,Country, Latitude, Longitude
hotel_df = pd.DataFrame(ideal_weather_df, columns = ['City', 'Country', 'Latitude', 'Longitude'])
hotel_df['Hotel Name'] = ""
hotel_df

                      City Country  Latitude  Longitude Hotel Name
44            Santa Isabel      BR    -23.32     -46.22
49                   Ségou      ML     13.43      -6.22
64               Busselton      AU    -33.65     115.33
98                    Anta      IN     25.15      76.30
172                  Sīkar      IN     27.62      75.15
185              Juquitiba      BR    -23.93     -47.07
189                  Aswān      EG     24.09      32.91
196               Ambilobe      MG    -13.20      49.05
214                   Jati      PK     24.35      68.27
218                 Tanout      NE     14.97       8.89
299                Fomboni      KM    -12.28      43.74
310                 Maceió      BR     -9.67     -35.74
330                 Karwar      IN     14.80      74.13
332  Monte Alegre de Minas      BR    -18.87     -48.88
370            Bandarbeyla      SO      9.49      50.81
442              Paraopeba      BR    -19.28     -44.40
510                Bāglung      NP     28.27      83.59
513              Parvatsar      IN     26.88      74.77
516                  Arlit      NE     18.74       7.39
548              Port Said      EG     31.26      32.28
551            Mangaratiba      BR    -22.96     -44.04
556                  Ashta      IN     23.02      76.72
561                  Pilar      BR     -9.60     -35.96

In [53]:
#Set parameters
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
}

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#create loop to iterate through DF
for index, row in hotel_df.iterrows():
    
    #gather and combine Latitude and Longitude into one variable
    latitude = row['Latitude']
    longitude = row['Longitude']
    coordinates = f'{latitude}, {longitude}'
    
    params["location"] = coordinates
    
    
    response = requests.get(base_url, params=params).json()
    
    name_address = requests.get(base_url, params=params)
    
    results = response['results']
    
    try:
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except:
        continue
        
    
hotel_df.head()

             City Country  Latitude  Longitude                   Hotel Name
44   Santa Isabel      BR    -23.32     -46.22  Chácara Sombra do Altíssimo
49          Ségou      ML     13.43      -6.22               Comme chez soi
64      Busselton      AU    -33.65     115.33      Observatory Guest House
98           Anta      IN     25.15      76.30             Agnisaman Kendra
172         Sīkar      IN     27.62      75.15         Gayatri Girls Hostel

In [ ]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

fig