In [1]:
#import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

#import api key
from config import g_key

#import csv
weather_data = '../WeatherPy/Output_Data/cities.csv'

#Create DataFrame 
weather_df = pd.read_csv(weather_data)
weather_df.head()

,City,Country,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,Bredasdorp,ZA,-34.53,20.04,64.40,77,100,4.70
1,Lavrentiya,RU,65.58,-171.00,30.87,92,100,10.40
2,Hualmay,PE,-11.10,-77.61,64.62,82,95,6.87
3,East London,ZA,-33.02,27.91,69.80,83,33,17.54
4,Rikitea,PF,-23.12,-134.97,75.43,83,100,16.69

In [2]:
#Configure gmaps
gmaps.configure(api_key=g_key)

#set locations and humidity
locations = weather_df[['Latitude', 'Longitude']]

humidity = weather_df['Humidity (%)']

In [3]:
#Plot heatmap

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
#Create new DataFrame fitting weather criteria
#A max temperature lower than 80 degrees but higher than 70.
perfect_temp_df = weather_df[weather_df['Temperature (F)'] < 80]
perfect_temp_df =perfect_temp_df[perfect_temp_df['Temperature (F)'] > 70]

#Wind speed less than 10 mph.
perfect_wind_df = perfect_temp_df[perfect_temp_df['Wind Speed (mph)'] < 10]

#Zero cloudiness.
ideal_weather_df = perfect_wind_df[perfect_wind_df['Cloudiness (%)'] == 0]
ideal_weather_df
#Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

,City,Country,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
73,Pozo Colorado,PY,-23.49,-58.80,76.68,40,0,3.40
86,Bilma,NE,18.69,12.92,70.57,23,0,3.91
88,Arraial do Cabo,BR,-22.97,-42.03,73.40,88,0,9.17
112,San Pedro de Ycuamandiy√∫,PY,-24.09,-57.08,72.37,55,0,2.93
134,Sur,OM,22.57,59.53,72.10,60,0,5.14
184,Saint-Philippe,RE,-21.36,55.77,71.60,64,0,4.70
186,Jardim,BR,-21.48,-56.14,73.09,52,0,1.39
205,Saint-Pierre,RE,-21.34,55.48,71.60,64,0,4.70
272,Rafaela,AR,-31.25,-61.49,72.00,38,0,5.01
367,Abu Dhabi,AE,24.47,54.37,78.80,69,0,3.36
391,Mormugao,IN,15.40,73.80,77.29,77,0,4.90
406,Maracaju,BR,-21.61,-55.17,73.35,60,0,4.38
428,Tessalit,ML,20.20,1.01,78.93,17,0,8.88
439,Nioro,GM,13.35,-15.75,76.68,56,0,2.13
448,Madera,US,37.17,-119.83,71.01,24,0,1.99
455,Wukari,NG,7.85,9.78,77.72,62,0,3.78
507,Port Said,EG,31.26,32.28,75.20,83,0,6.93

In [10]:
#Hotel Mapping
#Create new DF with City,Country, Latitude, Longitude
hotel_df = pd.DataFrame(ideal_weather_df, columns = ['City', 'Country', 'Latitude', 'Longitude', 'Hotel Name'])
hotel_df.head()

                         City Country  Latitude  Longitude  Hotel Name
73              Pozo Colorado      PY    -23.49     -58.80         NaN
86                      Bilma      NE     18.69      12.92         NaN
88            Arraial do Cabo      BR    -22.97     -42.03         NaN
112  San Pedro de Ycuamandiy√∫      PY    -24.09     -57.08         NaN
134                       Sur      OM     22.57      59.53         NaN

In [ ]:
#Create empty list for hotel name
hotel = []

#loop through new DF to find nearest hotel to each city

for city in range(len(hotel_df['City'])):
    latitude = hotel_df.loc[city]['Latitude']
    longitude = hotel_df.loc[city]['Longitude']
    
    coordinates = (latitude,longitude)